<mat-toolbar color="primary" class="mat-elevation-z8" >
        <div>
            <span>
                <mat-icon>fitness_center</mat-icon>
                GetFit
            </span>
        </div>
        <!-- <div class="spacer"></div> -->

        <div fxFill fxLayoutAlign="end">
            <button mat-button routerLink=''>Home</button>
            <button mat-button>Service</button>
            <button mat-button>About</button>
            <button mat-button style="background-color: green;">Add Member</button>
        </div>

</mat-toolbar>