<mat-toolbar color="primary" class="mat-elevation-z8">
    <div>
        <span>
            <a style="text-decoration: none; color: #fff; font-size: 25px;" routerLink="">
                <mat-icon>fitness_center</mat-icon>
                GetFit
            </a>
        </span>
    </div>
    <div class="spacer"></div>

    <div>
        <button mat-button routerLink=''>Home</button>
        <button mat-button routerLink='products'>Products</button>
        <button mat-button routerLink='about'>About</button>
        <button mat-button><mat-icon style="font-size: 25px;">shopping_cart</mat-icon></button>
    </div>

</mat-toolbar>